body {
  position: relative;
  color: #444444;
  height: 100vh;
  background-color: #232C39;
  background-image: linear-gradient(45deg, rgba(0, 216, 255, .5) 10%, rgba(0, 1, 127, .7));
  font-family: Arial, Helvetica, Helvetica Neue;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

#root {
  width: 100%;
  height: 100%;
}

.modal-dialog {
  height: 600px;
  width: 900px;
}

.modal-body {
  height: 480px;
}

.modal-content {
  height: 100%;
}
